:root {
  /* Primary */
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  /* Secondary */
  --slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-stat-heading: hsla(0, 0%, 100%, 0.6);
}

* {
  font-family: "Inter", sans-serif;
  /* font-family: 'Lexend Deca', sans-serif; */
  color: white;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;
  background-color: var(--very-dark-blue);
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: min(87%, 1140px);
  margin-block: 60px;
}

.details {
  grid-row-start: 2;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 36px 28px;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  background-color: var(--dark-desaturated-blue);
  text-align: center;
}

h1 {
  font-size: 1.75rem;
  margin: 0;
}

h1 > span {
  color: var(--soft-violet);
}

p {
  font-size: 15px;
  line-height: 1.65rem;
  color: var(--slightly-transparent-white-main-paragraph);
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-block-start: 25px;
}

.stats h2 {
  margin: 0;
}

.stats h5 {
  font-weight: 400;
  color: var(--slightly-transparent-white-stat-heading);
  margin-block: 8px 0;
}

.img {
  grid-column: span 2;
  position: relative;
  background-image: url(./images/image-header-mobile.jpg);
  width: 100%;
  height: 25cqh;
  background-size: cover;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
}

.img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(275.3, 100%, 32%, 0.6);
  border-radius: inherit;
}

@media screen and (min-width: 50em) {
  h1 {
    font-size: 2.2rem;
  }

  p {
    padding-block-start: 10px;
    padding-inline-end: 50px;
  }

  .details {
    grid-row: 1;
    grid-column: 1;
    padding: 72px;
    border-start-start-radius: 10px;
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    text-align: start;
  }

  .stats {
    flex-direction: row;
    margin-block-start: 55px;
    justify-content: space-between;
    width: min(340px, 30cqw);
    gap: 0;
  }

  .img {
    grid-column: 2;
    background-image: url(./images/image-header-desktop.jpg);
    background-position: center;
    border-start-start-radius: 0px;
    border-end-end-radius: 10px;
    height: 100%;
  }
}
